:root {
    --i-primary: #e44d3a;
    --i-primary-h: #e44e3a6b;
    scroll-behavior: smooth;
}

body {
    background-color: #fff !important;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 10px;
    top: 4px;
    left: 7px;
    margin: unset;
    font-size: 12px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 1px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    top: -2px;
    box-shadow: 0 0 5px 0px #000;
}

input:checked+.slider {
    background-color: var(--primary);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--primary);
}

input:checked+.slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.auth-card {
    border-radius: 10px;
    box-shadow: 0 10px 30px 5px #6b6b6b8f;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-color: transparent;
}

.remember:hover {
    cursor: pointer;
}

.sos-btn:hover {
    color: #fff;
}

.foot {
    padding: 25px 0 15px 0;
    text-align: center;
    width: 100%;
    background: #fff;
    border-top: solid 0.5px #000000b6;
}

.h-vh {
    height: 100vh;
}

.h-80 {
    height: 80%;
}

.feather-16 {
    font-size: 16px;
}

.feather-18 {
    font-size: 18px;
}

.feather-24 {
    font-size: 28px;
}

.feather-32 {
    font-size: 32px;
}

.icon-active {
    background: var(--primary)9c;
    padding: 8px;
    border-radius: 30px;
}

/*  */
.pimg-icon-hover {
    padding: 0px;
}

.pimg-icon-hover:hover {
    background: var(--primary)9c;
    padding: 0px;
    border-radius: 30px;
    cursor: pointer;
}

.h-link:focus .pimg-icon-hover {
    background: var(--primary)9c;
    padding: 0px;
    border-radius: 30px;
}

.h-link:focus .pimg-icon-hover {
    background: var(--i-primary-h);
    padding: 0px;
    border-radius: 30px;
}

.pimg-icon-hover:hover {
    background: var(--i-primary-h);
    border-radius: 30px;
    cursor: pointer;
}

/*  */

.icon-hover {
    padding: 8px;
}

.icon-hover:hover {
    background: var(--primary)9c;
    padding: 8px;
    border-radius: 30px;
    cursor: pointer;
}

.h-link:focus .icon-hover {
    background: var(--primary)9c;
    padding: 8px;
    border-radius: 30px;
}

a.text-light:hover {
    color: #fff !important;
}

.hover-lift:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.322);
}

.noti-drop {
    min-width: 25rem !important;
}

.noti-pin {
    background: red;
    padding: 4px;
    border-radius: 15px;
    position: absolute;
    top: 20px;
    left: 16px;
}

.new-quip-btn {
    width: fit-content;
    position: fixed;
    bottom: 85px;
    right: 25px;
    z-index: 2000;
    border-radius: 30px;
    padding: 10px 12px;
    background: var(--primary);
    color: #fff;
}

.new-quip-btn:hover {
    color: #fff;
}

#switch:active {
    background: #fff !important;
    color: #16181b;
}

#switch:hover {
    background: unset !important;
    cursor: default;
}

.feed-i {
    padding: 10px;
    background: #7aa7fe73;
    border-radius: 50px;
}

.side-trend-txt {
    font-size: 15px;
}

.feed-in-div {
    width: 100%;
    text-align: end;
}

.feed-vid-cont {
    text-align: center;
}

.mobile-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 5px 0 #282a2c3d;
    z-index: 2000;
}

.mbm-active {
    background: var(--i-primary);
    color: #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 10px 5px 0px #0000005e;
}

.modal-content {
    border-radius: 15px !important;
}

.modal-header {
    background: #e44d3a;
    color: #fff;
    padding: 10px 15px;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: var(--i-primary);
    background-color: var(--i-primary);
}

a {
    color: var(--i-primary);
}

a:hover {
    color: var(--i-d-primary);
}

a:visited {
    color: var(--i-d-primary);
}

.modal {
    overflow-y: auto;
}

.fud-alert {
    z-index: 10000;
    position: fixed;
    top: 35px;
    right: 25px;
}

.error-message p {
    color: #de4437 !important
}

.dropdown-item {
    color: #000 !important;
}

.dropdown-item:hover {
    color: #fff !important;
    background: var(--i-primary);
}

.h-link:focus .icon-hover {
    background: var(--i-primary-h);
    padding: 8px;
    border-radius: 30px;
}

.icon-hover:hover {
    background: var(--i-primary-h);
    border-radius: 30px;
    cursor: pointer;
}

.modal-content {
    border: unset;
}

.modal-header {
    border: unset;
}

#cover-holder {
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 510px black;
}

.profile-dropdown {
    text-align: right;
}

.icon-form-control .form-control {
    padding-left: 26px;
}

.icon-form-control i {
    width: 29px;
}

#main-content {
    margin-top: 60px;
}

.side-section-l {
    margin-top: 60px;
    margin-bottom: -57px;
}

/* Vendor image on user page */
.vend-img {
    width: 70px !important;
    height: 70px !important;
    margin-bottom: -40px;
}

/* Vendor image on user page */

@media(min-width: 1024px) {
    .side-section {
        position: fixed;
        height: 100%;
        overflow-y: auto;
        margin-top: 60px;
    }

    .side-section-l {
        left: 0;
    }

    .side-section-r {
        right: 0;
    }

    .head-section {
        position: fixed;
        z-index: 1000;
        width: 100%;
        top: 0;
    }

    .main-section {
        justify-content: center;
    }

    .post-modal>div {
        flex: 0 0 49.5%;
        max-width: 49.5%;
        position: relative;
        width: 100%;
        margin: auto;
        margin-top: 60px;
    }
}

@media(max-width: 1023px) {
    main {
        margin-bottom: 40px;
    }

    .main-section {
        justify-content: center;
    }

    .post-modal>div {
        flex: 0 0 612.33px;
        max-width: 612.33px;
        position: relative;
        width: 100%;
        margin: auto;
        margin-top: 60px;
    }

    .head-section {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
}

.post-profile:hover {
    cursor: pointer;
    color: var(--i-primary);
}

.f-post {
    color: #3a3a3a;
    font-size: 15px;
    white-space: pre-wrap;
}

.post-media-container {
    display: flex;
    flex-wrap: wrap;
}

.pm {
    background-position: center !important;
    background-size: cover !important;
    height: 320px;
    border: solid #dee2e6 .5px;
}

.pm-im-l:hover>div {
    height: 100%;
    width: 100%;
    background: #00000054;
    border-radius: inherit;
    cursor: pointer;
}

.pm-1 {
    width: 100%;
    border-radius: 12px;
}

.pm-2 {
    width: 50%;
}

.pm-3,
.pm-4 {
    width: 50%;
    height: 180px !important;
}

.pm-2:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right: solid #fff .5px;
}

.pm-2:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: solid #fff .5px;
}

.pm-3:first-child {
    width: 100%;
    border-bottom: solid #fff .5px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.pm-3:nth-child(2) {
    border-top: solid #fff .5px;
    border-right: solid #fff .5px;
    border-bottom-left-radius: 12px;
}

.pm-3:last-child {
    border-top: solid #fff .5px;
    border-left: solid #fff .5px;
    border-bottom-right-radius: 12px;
}

.pm-4:first-child {
    border-bottom: solid #fff .5px;
    border-right: solid #fff .5px;
    border-top-left-radius: 12px;
}

.pm-4:nth-child(2) {
    border-bottom: solid #fff .5px;
    border-left: solid #fff .5px;
    border-top-right-radius: 12px;
}

.pm-4:nth-child(3) {
    border-top: solid #fff .5px;
    border-right: solid #fff .5px;
    border-bottom-left-radius: 12px;
}

.pm-4:last-child {
    border-top: solid #fff .5px;
    border-left: solid #fff .5px;
    border-bottom-right-radius: 12px;
}

@media(max-width: 767px) {

    .pm {
        height: 270px;
    }

    .pm-3,
    .pm-4 {
        height: 135px !important;
    }

    .post-modal>div {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        margin: auto;
        margin-top: 60px;
    }

    .head-section {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
}

.post-ico {
    color: rgb(36, 36, 36) !important;
}

#post-btn {
    border: solid .5px #e44d3a66;
    box-shadow: 0 0 8px 2px rgb(194, 191, 191);
}

#post-btn:hover {
    background-color: unset;
    box-shadow: 0 0 8px 2px #e44e3a8a;
    color: var(--i-primary);
}

.post-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000000b6;
    z-index: 3000;
    top: 0;
    left: 0;
    padding: 0 15px;
    overflow: auto;
}

#close-post {
    float: right;
}

#close-post:hover {
    color: red !important;
    cursor: pointer;
}

.floating-post-btn {
    position: fixed;
    bottom: 35px;
    right: 21%;
    z-index: 1000;
    border-radius: 20px;
    font-weight: 600;
    border-bottom-left-radius: 0;
    box-shadow: 0 0 10px 0px #3c3b3bb8;
    padding: 10px 15px;
}

.floating-post-btn-sm {
    position: fixed;
    bottom: 75px;
    right: 5%;
    z-index: 1000;
    border-radius: 50px;
    font-weight: 600;
    box-shadow: 0 0 10px 0px #3c3b3bb8;
    padding: 9px 10px;
}

.pmmc-ix {
    color: #fff;
    background: #f91c03da;
    border-radius: 20px;
    padding: 2px;
    float: right;
    margin: 3px;
    font-weight: 500;
    box-shadow: 0 0 6px 0px #000000ba;
    cursor: pointer;
}

.pmmc-ixv {
    color: #fff;
    background: #f91c03da;
    border-radius: 20px;
    padding: 2px;
    float: right;
    margin: 3px;
    font-weight: 500;
    box-shadow: 0 0 6px 0px #000000ba;
    cursor: pointer;
    position: absolute;
    right: 17px;
    margin-top: 5px;
    z-index: 1000;
}

.post-textarea-cont {
    border: solid 1px #00000060;
    border-radius: 5px;
    padding: 2px 5px;
}

.post-textarea-cont-2 {
    border: solid 1px #fff;
    border-radius: 5px;
    padding: 2px 5px;
}

.post-textarea-cont-2>textarea {
    font-size: 14px !important;
}



/************ Cropper.js custom CSS ***********************/
/*!
 * Cropper.js v1.5.7
 * https://fengyuanchen.github.io/cropperjs
 *
 * Copyright 2015-present Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2020-05-23T05:22:57.283Z
 */

.cropper-container {
    direction: ltr;
    font-size: 0;
    line-height: 0;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cropper-container img {
    display: block;
    height: 100%;
    image-orientation: 0deg;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    width: 100%;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.cropper-wrap-box,
.cropper-canvas {
    overflow: hidden;
}

.cropper-drag-box {
    background-color: #fff;
    opacity: 0;
}

.cropper-modal {
    background-color: #000;
    opacity: 0.5;
}

.cropper-view-box {
    display: block;
    height: 100%;
    outline: 1px solid #39f;
    outline-color: rgba(51, 153, 255, 0.75);
    overflow: hidden;
    width: 100%;
}

.cropper-dashed {
    border: 0 dashed #eee;
    display: block;
    opacity: 0.5;
    position: absolute;
}

.cropper-dashed.dashed-h {
    border-bottom-width: 1px;
    border-top-width: 1px;
    height: calc(100% / 3);
    left: 0;
    top: calc(100% / 3);
    width: 100%;
}

.cropper-dashed.dashed-v {
    border-left-width: 1px;
    border-right-width: 1px;
    height: 100%;
    left: calc(100% / 3);
    top: 0;
    width: calc(100% / 3);
}

.cropper-center {
    display: block;
    height: 0;
    left: 50%;
    opacity: 0.75;
    position: absolute;
    top: 50%;
    width: 0;
}

.cropper-center::before,
.cropper-center::after {
    background-color: #eee;
    content: ' ';
    display: block;
    position: absolute;
}

.cropper-center::before {
    height: 1px;
    left: -3px;
    top: 0;
    width: 7px;
}

.cropper-center::after {
    height: 7px;
    left: 0;
    top: -3px;
    width: 1px;
}

.cropper-face,
.cropper-line,
.cropper-point {
    display: block;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    width: 100%;
}

.cropper-face {
    background-color: #fff;
    left: 0;
    top: 0;
}

.cropper-line {
    background-color: #39f;
}

.cropper-line.line-e {
    cursor: ew-resize;
    right: -3px;
    top: 0;
    width: 5px;
}

.cropper-line.line-n {
    cursor: ns-resize;
    height: 5px;
    left: 0;
    top: -3px;
}

.cropper-line.line-w {
    cursor: ew-resize;
    left: -3px;
    top: 0;
    width: 5px;
}

.cropper-line.line-s {
    bottom: -3px;
    cursor: ns-resize;
    height: 5px;
    left: 0;
}

.cropper-point {
    background-color: #39f;
    height: 5px;
    opacity: 0.75;
    width: 5px;
}

.cropper-point.point-e {
    cursor: ew-resize;
    margin-top: -3px;
    right: -3px;
    top: 50%;
}

.cropper-point.point-n {
    cursor: ns-resize;
    left: 50%;
    margin-left: -3px;
    top: -3px;
}

.cropper-point.point-w {
    cursor: ew-resize;
    left: -3px;
    margin-top: -3px;
    top: 50%;
}

.cropper-point.point-s {
    bottom: -3px;
    cursor: s-resize;
    left: 50%;
    margin-left: -3px;
}

.cropper-point.point-ne {
    cursor: nesw-resize;
    right: -3px;
    top: -3px;
}

.cropper-point.point-nw {
    cursor: nwse-resize;
    left: -3px;
    top: -3px;
}

.cropper-point.point-sw {
    bottom: -3px;
    cursor: nesw-resize;
    left: -3px;
}

.cropper-point.point-se {
    bottom: -3px;
    cursor: nwse-resize;
    height: 20px;
    opacity: 1;
    right: -3px;
    width: 20px;
}

@media (min-width: 768px) {
    .cropper-point.point-se {
        height: 15px;
        width: 15px;
    }

    .order-img {
        height: 230px;
    }
}

@media (min-width: 992px) {
    .cropper-point.point-se {
        height: 10px;
        width: 10px;
    }
}

@media (min-width: 1200px) {
    .cropper-point.point-se {
        height: 5px;
        opacity: 0.75;
        width: 5px;
    }
}

.cropper-point.point-se::before {
    background-color: #39f;
    bottom: -50%;
    content: ' ';
    display: block;
    height: 200%;
    opacity: 0;
    position: absolute;
    right: -50%;
    width: 200%;
}

.cropper-invisible {
    opacity: 0;
}

.cropper-bg {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}

.cropper-hide {
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.cropper-hidden {
    display: none !important;
}

.cropper-move {
    cursor: move;
}

.cropper-crop {
    cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
    cursor: not-allowed;
}

/************ Cropper.js custom CSS ***********************/

.label {
    cursor: pointer;
}

/* .progress {
    display: none;
    margin-bottom: 1rem;
} */

.img-edit-alert {
    display: block;
    margin-bottom: -13px;
    margin-top: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.img-edit {
    min-width: 100%;
    height: 378px;
}

@media screen and (max-width: 425px) {
    .img-edit {
        height: 282px;
    }
}

.img-container img {
    max-width: 100%;
    max-height: 500px;
}

.rounded-left-0 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.rounded-right-0 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    label.badge {
        font-size: 16px;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    label.badge {
        font-size: 25px;
    }
}

.emojionearea-editor {
    padding: 0 !important;
    min-height: 5.5em !important;
}

.emojionearea-editor::before {
    color: #404040 !important;
}

#post-video-container {
    width: 100%;
    margin-top: 0 !important;
}

.custom-file-label {
    overflow: hidden;
}

.play-btn {
    position: absolute;
    color: var(--i-primary);
    margin-top: 12.5%;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 0 15px 5px #000;
    background: #0000008a;
}

.play-btn:hover {
    box-shadow: 0 0 20px 10px #000;
}

.vid-bod {
    border: solid #dee2e6 1px;
}

.vid-bod:focus {
    outline: unset !important;
    border: solid 1.5px var(--i-primary);
}

@media (min-width: 768px) {
    .play-btn {
        margin-top: 16.5%;
    }
}

@media (min-width: 992px) {
    .play-btn {
        margin-top: 15.5%;
    }
}

@media (min-width: 1200px) {
    .play-btn {
        margin-top: 18.5%;
    }
}


@keyframes ploader-animation {
    0% {
        width: 0%;
    }

    49% {
        width: 100%;
        left: 0%
    }

    50% {
        left: 100%;
    }

    100% {
        left: 0%;
        width: 100%
    }
}

.ploader {
    height: 2px;
    width: 100%;
}

.ploader .bar {
    height: 2px;
    background-color: var(--i-primary);
    animation-name: ploader-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 5px;
}

.uk-lightbox {
    background: #000000de !important;
}

.post-inner:hover {
    box-shadow: 0 0 15px 5px #00000013;
    cursor: pointer;
}

.p-3 {
    padding: .5rem !important;
}

.dropup-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000000b6;
    z-index: 3000;
    top: 0;
    left: 0;
    overflow: auto;
}

.dropup-inner {
    background: #fff;
    max-height: 90%;
    height: auto;
    width: 100%;
    position: inherit;
    bottom: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

@media (min-width: 768px) {
    .dropup-inner {
        width: 80%;
        margin: 0 10%
    }
}

@media (min-width: 992px) {
    .dropup-inner {
        width: 48%;
        margin: 0 26%
    }
}

.dropup-top-ico {
    background: #e6554a;
    padding: 13px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color: #fff;
}

.dropup-top-ico-left {
    background: #e6554a;
    padding: 13px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 15px;
    color: #fff;
}

.dropup-top-ico:hover {
    cursor: pointer;
}

.dropup-top-a {
    font-size: 14px !important;
    justify-content: space-between;
}

.dropup-top-a:hover {
    cursor: unset;
}

.dropup-ico-a:hover {
    cursor: pointer;
}

.comments-input-cont {
    position: absolute;
    bottom: 0;
    border-top: solid var(--i-primary) .5px;
}

.comments-img {
    width: 28px;
    height: 28px;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    box-shadow: 0 0 5px 0 #21252999;
}

.comment-main {
    padding: 10px;
    margin: 0 8px 10px 8px;
    box-shadow: 0 0px 25px 0px rgb(216, 216, 216);
    border-radius: 15px;
    border: solid .5px #c5c5c5e3;
}

.c-left {
    border-top-left-radius: unset;
}

.c-right {
    border-bottom-right-radius: unset;
}

.more-comments {
    margin-bottom: 10px;
    text-align: center;
}

#comments-holder {
    max-height: 71.5%;
    overflow: auto;
}

.comment-post-ico {
    background: var(--i-primary);
    padding: 9px 6px;
    border-radius: 50px;
    color: #fff;
    float: right;
    font-size: 25px;
}

.comment-post-ico:hover {
    cursor: pointer;
}

.modal-open {
    height: 100vh;
    overflow-y: hidden;
}

#comment-spinner {
    padding: 4.5px 6px;
    border-radius: 50px;
    float: right;
}

#dummy-post-area {
    background: #fff;
}

#dummy-post-area:hover {
    cursor: text;
}

.univ-a {
    color: var(--i-primary);
}

.univ-a:hover {
    cursor: pointer;
}

.comment-x-ico:hover {
    cursor: pointer;
}

.scrollpane {
    height: 100px;
    overflow: auto;
    width: 200px;
}

.loading {
    color: red;
}

#see-l-posts-btn {
    position: fixed;
    top: 60px;
    left: 33%;
    z-index: 2000;
    border-radius: 20px;
    font-weight: 500;
}

#see-n-comms-btn {
    position: fixed;
    bottom: 25%;
    left: 30%;
    z-index: 2000;
    border-radius: 20px;
    font-weight: 500;
}

@media (min-width: 768px) {
    #see-new-posts-btn {
        left: 43%;
    }

    #see-n-comms-btn {
        left: 38%;
    }

    .order-img {
        height: 410px;
    }
}

@media (min-width: 992px) {
    #see-new-posts-btn {
        left: 45%;
    }

    #see-n-comms-btn {
        left: 34%;
    }
}

@media (min-width: 1440px) {
    #see-new-posts-btn {
        left: 46.5%;
    }

    #see-n-comms-btn {
        left: 38%;
    }
}

.notification-card-u {
    padding: 5px 10px;
    box-shadow: 0 0 10px 2px #08080814;
    margin: 10px;
    border-radius: 5px;
    font-size: 12px;
    background: #ff1c0024;
}

.notification-card-r {
    padding: 5px 10px;
    box-shadow: 0 0 10px 2px #08080814;
    margin: 10px;
    border-radius: 5px;
    font-size: 12px;
}

#notification-container {
    height: 300px;
    overflow: auto;
}

#noti-dot {
    color: #ffffff !important;
    background: red;
    padding: 0px 5px;
    border-radius: 25px;
    position: absolute;
    left: 28px;
    top: 12px;
    font-weight: 800;
    border: solid .5px #000000;
}

#basket-noti-dot{
    color: #ffffff !important;
    background: red;
    padding: 0px 5px;
    border-radius: 25px;
    position: absolute;
    left: 28px;
    top: 12px;
    font-weight: 800;
    border: solid .5px #000000;
}

#mob-basket-noti-dot{
    color: #ffffff !important;
    background: red;
    padding: 0px 5px;
    border-radius: 25px;
    position: absolute;
    left: 48%;
    top: 6px;
    font-weight: 800;
    border: solid .5px #000000;
}


.m-a-r:hover {
    cursor: pointer;
    background: rgb(16, 212, 16) !important;
    color: #fff;
}

#m-a-a-r>small {
    font-weight: 500;
    color: var(--i-primary) !important;
}

#m-a-a-r>small:hover {
    cursor: pointer;
}

.notification-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000000b6;
    z-index: 3000;
    top: 0;
    left: 0;
    overflow: auto;
}

.notification-inner {
    background: #fff;
    height: 90%;
    width: 100%;
    position: inherit;
    bottom: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

@media (min-width: 768px) {
    .notification-inner {
        width: 80%;
        margin: 0 10%
    }
}

@media (min-width: 992px) {
    .comments-inner {
        width: 48%;
        margin: 0 26%
    }
}

#basics {
    height: 379px !important;
}

@media(max-width: 767px) {
    #basics {
        height: auto!important;
    }

    .mt-xs-2 {
        margin-top: 8px;
    }
}


.qty-btn{
    font-size: 9px;
}

.basket-price-small{
    margin-left: -64px;
}

.basket-small{
    margin-left: -46px;
}

.qty-input {
    height: 23px;
    margin-top: 3px;
}

@media(max-width: 425px) {
    .qty-input {
        margin-top: 4px;
    }
}

.bskt-del-btn{
    font-size: 26px;
}

#mob-noti-dot {
    color: #ffffff !important;
    background: red;
    padding: 0px 5px;
    border-radius: 25px;
    position: absolute;
    left: 48%;
    top: 6px;
    font-weight: 800;
    border: solid .5px #000000;
}

.mbm-item:hover {
    cursor: pointer;
}

#video-loaded {
    width: 100%; border-radius: 12px; border: solid #dee2e6 1px; max-height: 300px
}

/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;

    -moz-user-select:none;
    -webkit-user-select:none;
  }
  .rating-stars ul > li.star {
    display:inline-block;

  }

  /* Idle State of the stars */
  .rating-stars ul > li.star > i.lar {
    font-size:2.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
  }

  /* Hover state of the stars */
  .rating-stars ul > li.star.hover > i.lar {
    color:#FFCC36;
  }

  /* Selected state of the stars */
  .rating-stars ul > li.star.selected > i.lar {
    color:#FF912C;
  }
